<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="final.Properties.Settings.connectionString" connectionString="Data Source=DESKTOP-6PJLBUT\SQLEXPRESS;Initial Catalog=test;Integrated Security=True;User ID=sa;Password=12341234;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>